extends layout

block main-content
    div.banner
        div.welcome-container
            h1.page-title Welcome to Real Estate 
            p A place providing satisfaction.

    section 
        div.small-container
            h2 What we do
            p The website would have a simple and user-friendly interface that allows users to search for properties based on various criteria such as location, price range, number of bedrooms, and other relevant details. Users will also be able to see a list of attraction places. Users would be able to view photos and descriptions of each property, as well as contact the real estate agent or seller directly through the website.
